@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
    --fondo:#D5D8DC;
    --text:#1C2833;
    --seleccion:#117A65;
    --figure:#117A65;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo);
}

h1,h2,p {
    color:var(--text) ;
}

h1{
    font-size: 45px;
}
h2{
  font-size: 30px;  
}
p{
font-size: 20px;
}
.selection{
    display: flex;
    border: 2px solid #196F3D;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #444444;
}
.battlefield{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.box-battle{
    margin: 25px;
}

.spinner {
    width: 2rem;
    height: 2rem;
    background-color: var(--figure);
    animation: Spinner  1.4s linear infinite;
}

.text-message{
    font-size: 45px;
}

.img-battle{
    border-radius: 50%;
}

.btn-attack{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.btn-attack:hover{
    background:#D35400 ;
    cursor: pointer;
    margin: 8px;
}

.marker{
    display: flex;
    gap: 20px;

}
.marker p{
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--figure);
    width: 350px;
    height: 50px;
    border-radius: 20px;
}

@keyframes Spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}