@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
    --fondo:#0F71A2;
    --text:#D5D7EB;
    --bordes:#5AE8D4;
    --hover:#630A68;
    --button:#21A68A;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--fondo);
    box-sizing: border-box;
}

h1,h2,p {
    color:var(--text) ;
}

.titles {
    margin: auto;
    width: 90%;
    text-align: center;
}

.title {
    font-size: 45px;
    margin: 15px;
}
.subtitle {
    font-size: 30px;  
    margin: 13px;
}

p{
    font-size: 20px;
}


.selection{
    width: 60%;
    margin: 2em auto;
    border: 2px solid var(--bordes);
    border-radius: 20px;
    box-shadow: inset 0 0 10px #B6EDE6;

    display: flex;
    justify-content: space-evenly;
}

.blur{
    filter:blur(20px)
}
#img-boxPlayer,#img-boxPC{
    width:170px ;
    height: 170px;
}
.battlefield{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.box-battle{
    margin: 5px;
}

.spinner {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--hover);
    border-radius: 50%;
    border-bottom: 5px solid transparent;
    animation: Spinner  1.4s linear infinite;
}

.text-message{
    font-size: 45px;
}

.img-battle{
    border-radius: 50%;
}

.btn-attack{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-attack:hover{
    background:var(--hover);
    margin: 8px;
}

.marker{
    display: none;
    padding: 0px;
    gap: 20px;
}
.marker p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border: 1px solid var(--bordes);
    width: 250px;
    height: 50px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #B6EDE6;
}

.finally-Result{
    display: none;
}
.restart{
    display: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin:15px;
    font-size: 15px;
    background: var(--button);
    border: 1px solid var(--button);
    cursor: pointer;
    color: white;
}

.finally-result{
    display:none;
    font-size: 40px;
    color:var(--text)
}
@keyframes Spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media(max-width: 800px){
    .selection{
        width: 70%;
    }
}

@media(max-width: 500px){
    .titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .title {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .subtitle{
        font-size: 23px;  
        width: 100%;
    }

    .battlefield{
        padding: 5px;
    }

    .selection{
        justify-content: space-evenly;
        width: 90%;
        margin: 2em auto;
        padding: 5px;
    }
    #img-boxPlayer,#img-boxPC{
        width:90px ;
        height: 80px;
    }
    .btn-attack{
        width:90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
    .marker{
        flex-direction: column;
    }
    .marker p{
        margin: 5px;
        padding: 10px 25px;
    }
    .finally-result{
        font-size: 20px;
    }
}